*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    margin: 0 auto;
    padding: 3em 0;
    width: 50vw;
}

h1 {
    margin-bottom: 1em;
}


figure {
    border: 1px solid #333;
    width: 500px;
    padding: 1em;
}

img {
    width: 100%;
    height: auto;
}
figcaption {
    padding-top: 1em;
}

video {
    width: 100%;
}